@model Warehouse.Web.DTOs.AddProductViewModel

<div class="container-fluid text-center">
    <h2>Import Product</h2>
    <hr />
    <div class="row d-flex justify-content-center text-center">
        <form class="col-8 text-center" method="post">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="Name">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control " id="category" name="CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))">
                </select>
            </div>
            <div class="form-group">
                <label for="minQuantity">Min Quantity</label>
                <input type="number" class="form-control" id="minQuantity" name="MinQuantity">
            </div>
            <div class="form-group">
                <label for="AvailableQuantity">Available Quantity</label>
                <input type="number" class="form-control" id="AvailableQuantity" name="AvailableQuantity">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="Price">
            </div>
            <div class="form-group">
                <label for="supplier">Min Quantity</label>
                <select class="form-control" id="supplier" name="SupplierId" asp-items="@(new SelectList(Model.Suppliers, "SupplierId", "CompanyName"))">
                </select>
            </div>
            <button type="submit" asp-action="AddProduct" class="btn btn-success">Create</button>
        </form>
    </div>
</div>